body {
background-color: #221c29;
background-image: url('bg.png');
background-size: cover;
background-attachment: fixed;
}

span {
  position: fixed;
  left: 50%;
  top: 50%;
  font-size:150px;
  transform: translate(-50%, -50%) scale(2);
}
